/* General css for the whole file */
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h6,
small {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.01em;
}

p {
  font-weight: 580;
  letter-spacing: 0.01em;
}

/* Banner - BackgroundImage */
header {
  background-image: url("assets/banner.png");
}

.banner-image {
  margin-top: -2.5rem !important;
}
.title-banner {
  color: white;
}

/* Banner - Count Down Timer */
ul {
  padding: 0px;
  list-style: none;
}

ul li {
  display: inline-block;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}
.colon {
  display: inline-block;
  vertical-align: top;
  font-size: 29px;
  color: white;
  font-weight: lighter;
}
.timer {
  color: white;
}

.counter {
  font-size: 32px;
  display: block;
  color: black;
  font-weight: bold;
}

/* Main - Section 1: Speakers's intro */
.speakers {
  background-image: url("./assets/teardrop.png");
}
.speakers > .row {
  padding-top: 55px;
}

/* Main - Section 1: Speakers's cards */
.card {
  margin: 8px !important;
  border: none;
  background-color: #f6d974 !important;
}

.card > img {
  border-radius: 10px;
  height: 230px;
}

.card-body {
  padding-left: 0;
  padding-top: 15px;
  background-color: #f6d974;
}

.button-link {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: arial, sans-serif;
  color: rgb(28, 47, 218);
  text-decoration: underline;
  cursor: pointer;
}

/* Main - Section 2: Product's intro */
.products {
  background-image: url("./assets/yellowdrip.png");
}

.products > .row {
  padding-top: 105px;
}

/* Main - Section 2: Video link */
.video-row {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 10px 100px 10px;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.2%;
  height: 0;
  width: 100%;
}
.videoWrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0px;
}

/* Footer */
footer {
  background-image: url("./assets/pinkDrip.png");
  padding: 100px 0 0 0;
}
/* Footer Images*/
footer img {
  width: 170px;
}
/* Footer Policy */
.policy-container {
  margin: 120px 0px 50px 0px;
}

.policy small {
  padding: 10px;
}
.policy a {
  text-decoration: none;
  color: black;
}
